:root{
    --primary: #fb2804;
    --bgColor: #ffffff;
}

@layer reset {
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body, h1, h2, h3, h4, p,
    figure, blockquote, dl, dd {
        margin-block-end: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        line-height: 1.5;
    }

    /* Set shorter line heights on headings and interactive elements */
    h1, h2, h3, h4,
    button, input, label {
        line-height: 1.1;
    }

    /* Balance text wrapping on headings */
    h1, h2,
    h3, h4 {
        text-wrap: balance;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input, button,
    textarea, select {
        font-family: inherit;
        font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }
}

@layer poppins {
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
    }
}

@layer base {
    /* Prevent horizontal scroll */
    /*html, body {*/
    /*    overflow-x: hidden;*/
    /*}*/


    * {
        max-width: 100%;
        box-sizing: border-box;
    }

    .headerNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: rgba(5, 5, 5, 0.5);
        color: var(--bgColor);
    }

    .logo-text{
        color: var(--bgColor);
        font-size: 1.5rem;
        text-decoration: none;
    }

    .nav-links{
        display: flex;
        align-items: center;
    }
    .nav-links li{
        list-style: none;
        margin: 0 12px;
    }
    .nav-links li a{
        position: relative;
        color: var(--bgColor);
        font-size: 15px;
        font-weight: 500;
        padding: 6px 0;
        text-decoration: none;
    }
    .nav-links li a:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0%;
        background: #fb2804;
        border-radius: 12px;
        transition: all 0.4s ease;
    }
    .nav-links li a:hover:before{
        width: 100%;
    }

    .header{
        padding-bottom: 3rem;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;
    }

    .hero-img-bg{
        background-color: var(--bgColor);
        border-radius: 50%;
        border: 2px solid #040404;
        padding: 1rem;
    }

    .hero-img{
        height: 200px;
        width: 200px;
    }

    .hero-title{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 5px;
        color: var(--bgColor);

    }

    .hero-subtitle{
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 20px;
        color: var(--bgColor);

    }

    .hero-buttons{
        display: flex;
        gap: 1rem;
    }

    .primary-button{
        padding: 10px 20px;
        background-color: #fb2804;
        border: none;
        border-radius: 12px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    .primary-button:hover{
        background-color: #fa6060;

    }

    .primary-button>a{
        color: var(--bgColor);
        text-decoration: none;
    }

    .cv-button{
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid #e10303;
        border-radius: 12px;
        cursor: pointer;
    }

    .cv-button:hover{
        background-color: var(--primary);
    }

    .cv-img{
        height: 30px;
        width: 30px;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;
    }

    .section-subtitle{
        padding-inline: 30% ;
        flex: auto;
        text-align: center;
    }

    .section-subtitle>mark{
        background-color: rgba(251, 40, 4, 0.5);
        padding-left: 5px;
        padding-right: 5px;
    }


    .experience {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .experience-card {
        display: flex;
        align-items: center;
        background-color: var(--bgColor);
        padding: 1.5rem;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 800px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .experience-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(255, 0, 0, 0.2);
    }

    .company-logo img {
        width: 80px;
        height: auto;
        margin-right: 1.5rem;
        border-radius: 12px;
    }

    .content {
        flex: 1;
    }

    .content h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .content p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 0.5rem;
    }


    .timeline {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        position: relative;
        margin-top: 4rem;
    }

    .timeline::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #ff0000;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* certificates cards */

    .certificate-title {
        margin-top: 4rem;
        margin-bottom: 2rem;
        position: sticky;
        top: 20px;
        z-index: 10;
    }

    .c-card-img{
        width: 500px;
        height: auto;
        border-radius: 12px;
    }

    .c-card {
        position: sticky;
        top: 90px;
        background: var(--bgColor);
        padding: 1rem;
        box-shadow: 0 -0.3rem 0.5rem rgba(0, 0, 0, 0.10);
        border-radius: 24px;
        width: 500px;
    }

 @layer c-card-childs {
            .c-card:nth-child(1) {
                top: 1rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(2) {
                top: 2rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(3) {
                top: 3rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(4) {
                top: 4rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(5) {
                top: 5rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(6) {
                top: 6rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(7) {
                top: 7rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(8) {
                top: 8rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(9) {
                top: 9rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(10) {
                top: 10rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(11) {
                top: 11rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(12) {
                top: 12rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(13) {
                top: 13rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(14) {
                top: 14rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(15) {
                top: 15rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(16) {
                top: 16rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(17) {
                top: 17rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(18) {
                top: 18rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(19) {
                top: 19rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(20) {
                top: 20rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(21) {
                top: 21rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(22) {
                top: 22rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(23) {
                top: 23rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(24) {
                top: 24rem;
                transform: rotate(-1deg);
            }

            .c-card:nth-child(25) {
                top: 25rem;
                transform: rotate(1deg);
            }

            .c-card:nth-child(26) {
                top: 26rem;
                transform: rotate(-1deg);
            }
        }

    /*project cards*/

    .card {
        background-color: transparent;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(255, 0, 0, 0.2);
    }

    .card img {
        max-width: 50px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .title {
        font-size: 18px;
        margin-bottom: 5px;
        text-align: left;
    }

    .date {
        font-size: 14px;
        color: var(--primary);
        text-align: left;
    }

    .filter-container {
        margin-bottom: 20px;
    }
    .filter-btn {
        background: transparent;
        border-radius: 12px;
        border: 2px white solid;
        padding: 10px 15px;
        color: var(--bgColor);
        margin: 5px;
        cursor: pointer;
    }

    .filter-btn:hover {
        background: #bc2101;
    }

    .filter-btn.active {
        background: var(--bgColor);
        color: var(--primary);
    }

    .filter-btn.active:hover {
        background: var(--bgColor);
        color: var(--primary);
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;
        background: linear-gradient(45deg, #c000ff, #fa0000, #ffd600);
        background-size: 400% 400%;
        animation: gradientAnimation 15s ease infinite;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .projects .section-title{
        color: var(--bgColor);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    .project-card {
        background: var(--bgColor);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        max-width: 300px;
    }

    .project-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .dropdown {
        margin: 10px 0;
        border-radius: 12px;
        background-color: var(--bgColor);
        max-width: 300px;
    }

    .dropdown select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 12px;
        background-color: transparent;
        color: #000000;
        /*appearance: none;*/
        /*-webkit-appearance: none;*/
        /*-moz-appearance: none;*/
        cursor: pointer;
    }

    .dropdown select:focus {
        outline: none;
        border: 2px solid var(--primary);
    }

    @media (max-width: 768px) {
        .filter-container {
            display: none;
        }
        .dropdown {
            display: block;
        }
    }

    .content {
        padding: 15px;
    }

    .content h3 {
        font-size: 18px;
        font-weight: bold;
    }

    .content p {
        font-size: 14px;
        color: #555;
    }

    .tech-stack{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .tech {
        color: var(--bgColor);
        margin: 10px 0;
        border-radius: 12px;
        padding: 3px 5px;
        background-color: #ffe5de;

    }

    .github-circle {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background-color: #333;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .github-circle a {
        color: var(--bgColor);
        text-decoration: none;
        font-size: 20px;
    }

    .project-card {
        position: relative;
        background: var(--bgColor);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        max-width: 300px;
    }

    .skills {
        font-family: "Arial", sans-serif;
        text-align: center;
        padding: 30px;
        max-width: 800px;
        margin: auto;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
        margin-top: 20px;
        color: var(--primary); /* Customize color */
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .skills-list img {
        background-color: transparent;
        padding: 8px;
        border-radius: 5px;
        height: 80px;
        transition: transform 0.2s ease-in-out;
    }

    .skills-list img:hover {
        transform: scale(1.1);
    }

    .contact {
        padding: 2rem;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .contact .section-title{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: center;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

    }

    .contact-h3 {
        font-size: 1.75rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: var(--primary);
        text-align: center;
    }

    .contact-p{
        font-size: 1rem;
        color: #555;
        margin-bottom: 2rem;
        text-align: center;
    }

    .contact-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .contact-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        color: #007bff;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: all 0.3s ease;
        background-color: rgba(0, 123, 255, 0.1);
    }

    .contact-link img {
        width: 40px;

    }

    .contact-link:hover {
        color: var(--bgColor);
        background-color: #007bff;
    }

    /* Responsive Design */
    @media (max-width: 600px) {
        .contact-links {
            flex-direction: column;
            align-items: center;
        }
    }

    .contact-form {
        width: 100%;
        max-width: 500px;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 0.75rem;
        border: 2px solid #ccc;
        border-radius: 12px;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.3s ease;
    }

    .contact-form input:focus,
    .contact-form textarea:focus {
        border-color: var(--primary);
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .contact-form textarea {
        min-height: 150px;
        resize: vertical;
    }

    .contact-form button {
        padding: 0.75rem;
        border: none;
        border-radius: 12px;
        background-color: var(--primary);
        color: var(--bgColor);
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 1rem;
    }

    .contact-form button:hover {
        background-color: #0056b3;
    }

    /* Responsive Design */
    @media (max-width: 600px) {
        .contact {
            padding: 1.5rem;
        }

        .contact-container {
            gap: 1.5rem;
        }

        .contact-links {
            flex-direction: column;
        }

        .contact-form {
            width: 100%;
        }
    }

    footer {
        background-color: #333;
        color: var(--bgColor);
        padding: 1rem 0;
        text-align: center;
    }

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        font-size: 1rem;
    }

    .go-top-button {
        display: none; /* Hidden by default */
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: var(--primary);
        color: var(--bgColor);
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }

    .go-top-button:hover {
        background-color: #fa482d;
    }

    /* General mobile styles */
    @media (max-width: 768px) {
        .headerNav {
            flex-direction: column;
            padding: 1rem;
            align-items: center;
        }

        .nav-links{
            padding-left: 0px;
        }



        .hero {
            margin-top: 2rem;
        }

        .hero-title {
            font-size: 1.5rem;
            text-align: center;
        }

        .hero-subtitle {
            font-size: 0.875rem;
        }

        .section-subtitle{
            padding: 2rem;
        }

        .timeline {
            flex-direction: column;
            align-items: center;
        }

        .timeline::before{
            rotate: 90deg;
        }

        .column {
            width: 100%;
            margin-bottom: 1rem;
        }

        .card {
            width: 90%;
            margin: 0 auto;
        }

        .c-card{
            width: 400px;
        }

        .experience-card {
            width: 400px;
            align-items: center;
        }

        .projects-container {
            grid-template-columns: 1fr;
            padding: 20px;
        }

        .project-card {
            max-width: 100%;
        }

        /*.skills-list img {*/
        /*    height: 60px;*/
        /*}*/

        .contact-container {
            flex-direction: column;
        }

        .contact-form {
            width: 100%;
        }

        .footer-container {
            padding: 0 1rem;
        }
    }

}

