:root{
    --primary: #fb2804;
}

@layer reset {
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body, h1, h2, h3, h4, p,
    figure, blockquote, dl, dd {
        margin-block-end: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        line-height: 1.5;
    }

    /* Set shorter line heights on headings and interactive elements */
    h1, h2, h3, h4,
    button, input, label {
        line-height: 1.1;
    }

    /* Balance text wrapping on headings */
    h1, h2,
    h3, h4 {
        text-wrap: balance;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input, button,
    textarea, select {
        font-family: inherit;
        font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }
}

@layer poppins {
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
    }
}

@layer base {
    .headerNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: rgba(5, 5, 5, 0.5);
        color: white;
    }

    .logo-text{
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .nav-links{
        display: flex;
        align-items: center;
    }
    .nav-links li{
        list-style: none;
        margin: 0 12px;
    }
    .nav-links li a{
        position: relative;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        padding: 6px 0;
        text-decoration: none;
    }
    .nav-links li a:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0%;
        background: #fb2804;
        border-radius: 12px;
        transition: all 0.4s ease;
    }
    .nav-links li a:hover:before{
        width: 100%;
    }

    .header{
        padding-bottom: 3rem;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;
    }

    .hero-img-bg{
        background-color: #ffffff;
        border-radius: 50%;
        border: 2px solid #040404;
        padding: 1rem;
    }

    .hero-img{
        height: 200px;
        width: 200px;
    }

    .hero-title{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 5px;
        color: white;

    }

    .hero-subtitle{
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 20px;
        color: white;

    }

    .hero-buttons{
        display: flex;
        gap: 1rem;
    }

    .primary-button{
        padding: 10px 20px;
        background-color: #fb2804;
        border: none;
        border-radius: 12px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    .primary-button:hover{
        background-color: #fa6060;

    }

    .primary-button>a{
        color: white;
        text-decoration: none;
    }

    .cv-button{
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid #e10303;
        border-radius: 12px;
        cursor: pointer;
    }

    .cv-img{
        height: 30px;
        width: 30px;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;
    }

    .section-subtitle{
        padding-inline: 30% ;
        flex: auto;
        text-align: center;
    }

    .section-subtitle>mark{
        background-color: rgba(251, 40, 4, 0.5);
        padding-left: 5px;
        padding-right: 5px;
    }


    .timeline {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        position: relative;
        margin-top: 4rem;
    }

    .timeline::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #ff0000;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        background-color: transparent;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(255, 0, 0, 0.2);
    }

    .card img {
        max-width: 50px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .title {
        font-size: 18px;
        margin-bottom: 5px;
        text-align: left;
    }

    .date {
        font-size: 14px;
        color: #ff7777;
        text-align: left;
    }

    .filter-container {
        margin-bottom: 20px;
    }
    .filter-btn {
        background: transparent;
        border-radius: 12px;
        border: 2px white solid;
        padding: 10px 15px;
        color: white;
        margin: 5px;
        cursor: pointer;
    }

    .filter-btn:hover {
        background: #bc2101;
    }

    .filter-btn.active {
        background: white;
        color: var(--primary);
    }

    .filter-btn.active:hover {
        background: #e1e1e1;
        color: var(--primary);
    }

    .projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;
        background-color: var(--primary);
    }

    .projects .section-title{
        color: white;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    .project-card {
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        max-width: 300px;
    }

    .project-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .dropdown {
        display: none;
        margin: 10px 0;
    }
    select {
        padding: 10px;
        font-size: 16px;
    }

    @media (max-width: 768px) {
        .filter-container {
            display: none;
        }
        .dropdown {
            display: block;
        }
    }

    .content {
        padding: 15px;
    }

    .content h3 {
        font-size: 18px;
        font-weight: bold;
    }

    .content p {
        font-size: 14px;
        color: #555;
    }

    .tech-stack{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .tech {
        font-size: 5px;
        color: #000000;
        margin: 10px 0;
    }

    .github-circle {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background-color: #333;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .github-circle a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .project-card {
        position: relative;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        max-width: 300px;
    }

    .skills {
        font-family: "Arial", sans-serif;
        text-align: center;
        padding: 30px;
        max-width: 800px;
        margin: auto;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
        margin-top: 20px;
        color: var(--primary); /* Customize color */
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .skills-list img {
        background-color: transparent;
        padding: 8px;
        border-radius: 5px;
        height: 80px;
        transition: transform 0.2s ease-in-out;
    }

    .skills-list img:hover {
        transform: scale(1.1);
    }


}
